*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;    
    height: 100vh;
}

#button-container{
    position: relative;
    top: 15%;
    left: 20%;

    height: 15%;
    width: 20%;

    display: flex;
}

.btn {
    background-color: rgb(94, 94, 94);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.1s;
    background-size: 200% auto;
    color: white;   

    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    border: 3px solid black;
    box-shadow: 0px 0px 10px 5px rgb(140, 0, 255);
}

#rest-button-container{
    position: relative;
    left: 5%;
    bottom: 7%;
}

 /*IMAGES*/

#hover-images-container{
    position: relative;
    bottom: 15%;
    left: 20%;

    height: 15%;
    width: 20%;

    display: flex;
}



.images{
     visibility: hidden;
     margin: 30px;
}

.images-visible{
    visibility: visible;
}

#rock:hover{
    visibility: visible;
}

h2, h3{
    color: white;
}


/*COMPUTER/PLAYER ROUND CHOICES IMAGES*/
#round-images-container{
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 10%;
    row-gap: 5%;

    position: relative;
    bottom: 30%;
    left: 70%;
    width: 200px;
}


#player-choice-container{
    border: 1px solid yellow;
    border-radius: 10px;
    border-spacing: 10px 10px;
}


#computer-choice-container{
    border: 1px solid red;
    border-radius: 10px;
}

#results-title-container{
    width: 200px;

    position: relative;
    bottom: 30%;
    left: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/*TEXT ROUND RESULTS*/
#result-container{
    position: relative;
    top: 0%;
    left: 25%;
    max-width: max-content;                                                                                                                                                          ;
}


/*RESPONSIVENESS*/
@media(max-width: 1024px){
    #button-container{
        height: 15%;
        width: 20%;
    }

    #hover-images-container{
        top: 15%;
    }
    #rest-button-container{
        bottom: 22%;
        left: 70%;
    }

    #result-container{
        top: -33%;
        left: 250px;
    }

    #round-images-container{
        top: 10%;
        left: 35%;
    }

    #results-title-container{
        top: 8%;
        left: 35%;
    }
    

}

